:root {
  color-scheme: light;
  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background: #FFF4F7;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  box-sizing: border-box;
}
